<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @reservation.Room_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @reservation.Client_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reservation.status %>
</p>

<p>
  <strong>Reservation date:</strong>
  <%= @reservation.reservation_date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
